<div class="container">
<h3>Create A New Promotion</h3>

<form action="/admin/day/promotions/create/<%= @day.id %>" method="post" id="promotion" enctype="multipart/form-data">
	<p>
		<label>Promotion Name:</label><br />
		<input type="text" name="promotion[productname]" id="productname" />	
	</p>
	<p>
		<label>Description:</label><br />
		<input type="text" name="promotion[description]" id="description" />
	</p>
	<p>
		<label>Picture:</label><br />
		<input type="text" name="promotion[picture]" id="picture" />
	</p>
	<p>
	<input type="hidden" name="dayid" value="<%= @day.id %>">
		<input type="submit">
	</p>
</form>
</div>
