"Hi from the Sinatra app default route"

<br />
<br />

You havn't liked the page YET LIKE IT BUDDY

<%= @name %>

<div class="container"><img src="assets/0150_7for7_1_03.jpg"</div>
<div class="emailsubmit" style="position:absolute;
left:500px;
top:800px;
z-index:1;">
<form action="/admin/day/create" method="post" id="day" enctype="multipart/form-data">
	<p>
		<label>Enter Email Address:</label><br />
		<input type="text" />	
	</p>
	<p>
		<label>Terms Conditions:</label><br />
			<select name="day[is_active]" id="is_active">
  <option>true</option>
  <option>false</option>
</select>
	</p>
	<p>
		<label>News Letter:</label><br />
		<input type="text" name="day[promo_code]" id="promo_code" />
	</p>
	<p>
		<input type="submit">
	</p>
</form>
</div>