<div class="container">

<img id="image" src="assets/0150_7for7_1_03.jpg" />
<form action="/email/create" method="post" id="email" enctype="multipart/form-data">
	<p>
		<input type="text" name="email[email]" placeholder="Enter Email Address.."/>	
		<input type="text" name="email[username]" value="myusername" hidden/>	
	</p>
	<p>
		<a style="text-decoration: none;" href="#openModal"><label style="color:lightblue;">I agree to terms and conditions:</label></a>
			<input type="checkbox" id="is_active" required />
	</p>
	<p>
		<label style="color:lightblue;">Sign up for our newsletter:</label>
		<input type="checkbox" id="is_active" />
	<p>
		<input id="submitimage" href="?p=vote" type="submit" src="assets/submit_idle.jpg"></a>
	</p>
</form>

<div id="openModal" class="modalDialog">
<div>
 <a href="#close" title="Close" class="close">X</a>
		<h2>Modal Box</h2>
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
 </div>
</div>
</div>