<html>
	<head>
		<title>7 for 7 app</title>
		<link rel="stylesheet" href="/stylesheets/screen.css" media="Screen" type="text/css" />
	</head>
	<body>
		<%= yield %>
		<nav>
			<a href="/admin">List</a> | <a href="/admin/day/new">New Day/Group</a>
		</nav>
	</body>	
</html>



