<div class="container">

<img id="votedimage" src="assets/0150_7for7_3_11.jpg" />

<img id="votedimage1" src="assets/0150_7for7_3_14.jpg" />

<img id="votedimage2" src="assets/0150_7for7_3_15.jpg" />

<img id="votedimage3" src="assets/0150_7for7_3_16.jpg" />

<img id="votedimage4" src="assets/0150_7for7_3_17.jpg" />

<img id="votedimage5" src="assets/0150_7for7_3_18.jpg" />

<img id="votedimage6" src="assets/0150_7for7_3_21.jpg" />

<img id="votedimage7" src="assets/0150_7for7_3_24.jpg" />

<img id="votedimage8" src="assets/0150_7for7_3_25.jpg" />

<img id="votedimage9" src="assets/0150_7for7_3_26.jpg" />

<img id="votedimage10" src="assets/0150_7for7_3_27.jpg" />

<img id="votedimage11" src="assets/0150_7for7_3_28.jpg" />

<img id="votedimage12" src="assets/0150_7for7_3_31.jpg" />


<form action="/admin/day/create" method="post" id="vote1" enctype="multipart/form-data">
	
	<p>
		<input id="submitimage" type="image" src="assets/voteNow_idle.jpg" />
	</p>
</form>

<form action="/admin/day/create" method="post" id="vote2" enctype="multipart/form-data">
	
	<p>
		<input id="submitimage" type="image" src="assets/voteNow_idle.jpg" />
	</p>
</form>

<form action="/admin/day/create" method="post" id="vote3" enctype="multipart/form-data">
	
	<p>
		<input id="submitimage" type="image" src="assets/voteNow_idle.jpg" />
	</p>
</form>

</div>