<div class="container">

<img id="image" src="assets/0150_7for7_2_04.jpg" />

<img id="image1" src="assets/0150_7for7_2_07.jpg" />

<img id="image2" src="assets/0150_7for7_2_08.jpg" />

<img id="image3" src="assets/0150_7for7_2_09.jpg" />

<img id="image4" src="assets/0150_7for7_2_12.jpg" />

<img id="image5" src="assets/0150_7for7_2_15.jpg" />

<form action="/admin/day/create" method="post" id="vote1" enctype="multipart/form-data">
	
	<p>
		<a href="?p=voted" id=""></a>
		<%# <input id="" type="image" src="assets/voteNow_idle.jpg" /> %>
	</p>
</form>

<form action="/admin/day/create" method="post" id="vote2" enctype="multipart/form-data">
	
	<p>
		<a href="?p=voted" id=""></a>
		<%# <input id="" type="image" src="assets/voteNow_idle.jpg" />< %>
	</p>
</form>

<form action="/admin/day/create" method="post" id="vote3" enctype="multipart/form-data">
	
	<p>
		<a href="?p=voted" id=""></a>
		<%# <input id="" type="image" src="assets/voteNow_idle.jpg" /> %>
	</p>
</form>

</div>