<div class="container">

<img id="image" src="assets/0150_7for7_2_04.jpg" />

<img id="image1" src="assets/0150_7for7_2_07.jpg" />

<img id="image2" src="assets/0150_7for7_2_08.jpg" />

<img id="image3" src="assets/0150_7for7_2_09.jpg" />

<img id="image4" src="assets/0150_7for7_2_12.jpg" />
<form action="/admin/day/create" method="post" id="vote" enctype="multipart/form-data">
	<p>
		<input type="text" value="Enter Email Address.."/>	
	</p>
	<p>
		<label>I agree to terms and conditions:</label>
			<input type="checkbox" name="day[is_active]" id="is_active" />
	</p>
	<p>
		<label>Sign up for our newsletter:</label>
		<input type="checkbox" name="day[is_active]" id="is_active" />
	<p>
		<input id="submitimage" type="image" src="assets/submit_idle.jpg" />
	</p>
</form>
</div>