body {
	width: 800px;
	margin: 0 auto;
}

.container{
	position: relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#email{

	z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:280px;
    top:550px;
}