body {
	width: 800px;
	height: 850px;
	margin: 0 auto;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	z-index: 100;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.container{
	position: relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#image1
{    
    position:absolute;
    left:0;
    top:332px;
    z-index:5;
}

#image2
{    
    position:absolute;
    left:274px;
    top:332px;
    z-index:10;
}

#image3
{    
    position:absolute;
    left:540px;
    top:332px;
    z-index:20;
}

#image4
{    
    position:absolute;
    left:0px;
    top:875px;
    z-index:25;
}
#image5
{    
    position:absolute;
    left:0px;
    top:1027px;
    z-index:30;
}


#email{

	z-index:50;
    position:absolute;    
    font-size: 12px;
    left:320px;
    top:520px;
    background-color:transparent;
}

#vote1{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:94px;
    top:980px;
    	width: 97px;
height: 29px;
    background: url("../assets/voteNow_idle.jpg") no-repeat; border: none;
}


#vote2{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:361px;
    top:980px;
    background: url("../assets/voteNow_idle.jpg") no-repeat; border: none;
}

#vote3{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:626px;
    top:980px;
    background: url("../assets/voteNow_idle.jpg") no-repeat; border: none;
}

#test1{

	z-index:100;
    position:absolute;    
    text-indent: -9999em;
    	width: 97px;
	height: 29px;
    background: url("../assets/voteNow_idle.jpg") no-repeat; border: none;
}

#test1:hover {
	position:absolute;
	opacity:1.0;
		width: 97px;
height: 29px;
	background: url("../assets/voteNow_hover.jpg") no-repeat; border: none;
}

#test2{

	z-index:100;
    position:absolute;    
    text-indent: -9999em;
    	width: 97px;
	height: 29px;
    background: url("../assets/voteNow_idle.jpg") no-repeat; border: none;
}

#test2:hover {
	position:absolute;
	opacity:1.0;
		width: 97px;
height: 29px;
	background: url("../assets/voteNow_hover.jpg") no-repeat; border: none;
}

#test3{

	z-index:100;
    position:absolute;    
    text-indent: -9999em;
    	width: 97px;
	height: 29px;
    background: url("../assets/voteNow_idle.jpg") no-repeat; border: none;
}

#test3:hover {
	position:absolute;
	opacity:1.0;
		width: 97px;
height: 29px;
	background: url("../assets/voteNow_hover.jpg") no-repeat; border: none;
}

#shopnowimage{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:353px;
    top:290px;
    text-indent: -9999em;
    width: 97px;
	height: 29px;
    background: url("../assets/shopNow_idle.jpg") no-repeat; border: none;
}

#shopnowimage:hover {
	position:absolute;
	opacity:1.0;
	width: 97px;
	height: 29px;
	background: url("../assets/shopNow_hover.jpg") no-repeat; border: none;
}

#theendlink{

	z-index:100;
    position:absolute;    
    left:348px;
    top:528px;
    width: 97px;
	height: 29px;
	text-indent: -9999em;
    background: url("../assets/shopNow_idle.jpg") no-repeat; border: none;
}

#theendlink:hover{

    position:absolute;    
    left:348px;
    top:528px;
    width: 97px;
	height: 29px;
	text-indent: -9999em;
    background: url("../assets/shopNow_hover.jpg") no-repeat; border: none;
}

#votedimage5{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:646px;
    top:366px;
}

#votedimage6{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:0px;
    top:727px;
}

#votedimage7{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:0px;
    top:756px;
}

#votedimage8{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:326px;
    top:756px;
}

#votedimage9{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:375px;
    top:756px;
}

#votedimage10{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:423px;
    top:756px;
}

#votedimage11{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:485px;
    top:756px;
}

#votedimage12{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:0px;
    top:795px;
}


#submitimage
{

	z-index:1;
    position:absolute;    
    left:30px;
    top:138px;
    text-indent: -9999em;
    width: 97px;
	height: 29px;
    background: url("../assets/submit_idle.jpg") no-repeat; border: none;

}

#submitimage:hover {
	position:absolute;
	opacity:1.0;
	background: url("../assets/submit_hover.jpg") no-repeat; border: none;
	width: 97px;
height: 29px;
z-index:105;
}