body {
	width: 800px;
	height: 850px;
	margin: 0 auto;
}

.container{
	position: relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#image1
{    
    position:absolute;
    left:0;
    top:332px;
    z-index:5;
}

#image2
{    
    position:absolute;
    left:275px;
    top:332px;
    z-index:10;
}

#image3
{    
    position:absolute;
    left:550px;
    top:332px;
    z-index:20;
}

#image4
{    
    position:absolute;
    left:0px;
    top:883px;
    z-index:25;
}
#image5
{    
    position:absolute;
    left:0px;
    top:1035px;
    z-index:30;
}


#email{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:320px;
    top:520px;
}

#vote1{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:94px;
    top:988px;
}

#vote2{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:361px;
    top:988px;
}

#vote3{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:626px;
    top:988px;
}

#votedimage5{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:646px;
    top:366px;
}

#votedimage6{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:0px;
    top:727px;
}

#votedimage7{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:0px;
    top:756px;
}

#votedimage8{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:326px;
    top:756px;
}

#votedimage9{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:375px;
    top:756px;
}

#votedimage10{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:423px;
    top:756px;
}

#votedimage11{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:485px;
    top:756px;
}

#votedimage12{

	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:0px;
    top:795px;
}

#theendlink{

	z-index:100;
    position:absolute;    
    left:345px;
    top:528px;
}

#submitimage
{

	z-index:100;
    position:absolute;    
    left:30px;
    top:138px;

}

#submitimagesrc:hover {
	background: url("/assets/submit_hover.jpg");
	width: 165px;
height: 59px;
}