<h3>Create A New Product</h3>

<form action="/admin/day/product/create" method="post" id="day" enctype="multipart/form-data">
	<p>
		<label>Product Name:</label><br />
		<input type="text" name="product[productname]" id="productname" />	
	</p>
	<p>
		<label>Description:</label><br />
		<input type="text" name="product[description]" id="description" />
	</p>
	<p>
		<label>Picture:</label><br />
		<input type="text" name="product[picture]" id="picture" />
	</p>
	<p>
		<input type="submit">
	</p>
</form>
