<p>
  <b>Group ID:</b>
  <%= @product.id %>
</p>
<p>
  <b>Name:</b>
  <%= @product.productname %>
</p>
<p>
  <b>Is Active:</b>
  <%= @product.description %>
</p>
<p>
  <b>Promo Code:</b>
  <%= @product.picture %>
</p>