<p>
  <b>ID:</b>
  <%= @products.id %>
</p>
<p>
  <b>Name:</b>
  <%= @products.productname %>
</p>
<p>
  <b>Is Active:</b>
  <%= @products.description %>
</p>
<p>
  <b>Promo Code:</b>
  <%= @products.picture %>
</p>

